In [303]:
import pandas as pd
data= pd.read_csv('player_info_clean.csv')
print(data)

      Unnamed: 0  person_id first_name     last_name   birthdate  \
0              0      76001       Alaa     Abdelnaby  1968-06-24
1              1      76003     Kareem  Abdul-Jabbar  1947-04-16
2              2       1505      Tariq   Abdul-Wahad  1974-11-03
3              3        949    Shareef   Abdur-Rahim  1976-12-11
4              4      76005        Tom     Abernethy  1954-05-06
...          ...        ...        ...           ...         ...
4166        4166    1627835       Paul        Zipser  1994-02-18
4167        4167    1627790       Ante         Zizic  1997-01-04
4168        4168      78647        Jim          Zoet  1953-12-30
4169        4169    1627826      Ivica         Zubac  1997-03-18
4170        4170      78650       Matt         Zunic  1919-12-19

                 school  country       last_affiliation height  weight  ...  \
0                  Duke      USA               Duke/USA   6-10   240.0  ...
1                  UCLA      USA               UCLA/USA    7-2   225.0  ...
2        San Jose State   France  San Jose State/France    6-6   235.0  ...
3            California      USA         California/USA    6-9   245.0  ...
4               Indiana      USA            Indiana/USA    6-7   220.0  ...
...                 ...      ...                    ...    ...     ...  ...
4166      Bayern Munich  Germany  Bayern Munich/Germany    6-8   226.0  ...
4167        Darussafaka  Croatia    Darussafaka/Croatia   6-10   266.0  ...
4168         Kent State      USA         Kent State/USA    7-1   240.0  ...
4169        Mega Basket  Croatia    Mega Basket/Croatia    7-0   240.0  ...
4170  George Washington      USA  George Washington/USA    6-3   195.0  ...

           position      team_name team_abbreviation from_year  to_year  \
0           Forward  Trail Blazers               POR    1990.0   1994.0
1            Center         Lakers               LAL    1969.0   1988.0
2     Forward-Guard          Kings               SAC    1997.0   2003.0
3           Forward      Grizzlies               VAN    1996.0   2007.0
4           Forward       Warriors               GOS    1976.0   1980.0
...             ...            ...               ...       ...      ...
4166        Forward          Bulls               CHI    2016.0   2017.0
4167         Center      Cavaliers               CLE    2017.0   2019.0
4168         Center        Pistons               DET    1982.0   1982.0
4169         Center       Clippers               LAC    2016.0   2023.0
4170          Guard       Capitols               WAS    1948.0   1948.0

      draft_year  draft_round  draft_number  greatest_75_flag  birthhdate
0           1990            1            25                 N  1968-06-24
1           1969            1             1                 Y  1947-04-16
2           1997            1            11                 N  1974-11-03
3           1996            1             3                 N  1976-12-11
4           1976            3            43                 N  1954-05-06
...          ...          ...           ...               ...         ...
4166        2016            2            48                 N  1994-02-18
4167        2016            1            23                 N  1997-01-04
4168           0            0             0                 N  1953-12-30
4169        2016            2            32                 N  1997-03-18
4170        1947            0             0                 N  1919-12-19

[4171 rows x 21 columns]

In [306]:
are_unique = data['person_id'].is_unique
are_unique

True

In [286]:
data.columns

Index(['RANK', 'NAME', 'TEAM', 'POS', 'AGE', 'GP', 'MPG', 'USG%', 'TO%', 'FTA',
       'FT%', '2PA', '2P%', '3PA', '3P%', 'eFG%', 'TS%', 'PPG', 'RPG', 'APG',
       'SPG', 'BPG', 'TPG', 'P+R', 'P+A', 'P+R+A', 'VI', 'ORtg', 'DRtg'],
      dtype='object')

In [287]:
columns_drop=['RANK','TO%','VI','eFG%','P+R','P+A','P+R+A']
data.drop(columns_drop, axis=1, inplace=True)
print(data)

                NAME TEAM  POS   AGE  GP   MPG  USG%  FTA    FT%  2PA  ...  \
0      Kawhi Leonard  Lac    F  32.0   2  40.2  30.0   17  0.882   34  ...
1       Devin Booker  Pho    G  26.6  11  41.7  29.0   67  0.866  180  ...
2    Anthony Edwards  Min    G  21.9   5  39.7  32.4   39  0.846   71  ...
3      Stephen Curry  Gol    G  35.2  13  37.9  31.6   58  0.845  154  ...
4       Nikola Jokic  Den    C  28.3  20  39.4  31.2  139  0.799  338  ...
..               ...  ...  ...   ...  ..   ...   ...  ...    ...  ...  ...
212     Derrick Rose  Nyk    G  34.7   1   2.5  71.4    0  0.000    3  ...
213      Ricky Rubio  Cle    G  32.6   3   5.7  16.6    0  0.000    1  ...
214    Edmond Sumner  Bro    G  27.5   1   4.5   0.0    0  0.000    0  ...
215   Dewayne Dedmon  Phi    C  33.8   1   5.0  18.5    0  0.000    0  ...
216  DaQuan Jeffries  Nyk  G-F  25.8   2   2.3   0.0    0  0.000    0  ...

       3P%    TS%   PPG   RPG  APG  SPG  BPG  TPG   ORtg   DRtg
0    0.600  0.670  34.5   6.5  6.0  2.0  0.5  3.0  129.4  110.8
1    0.508  0.686  33.7   4.8  7.2  1.7  0.8  2.9  130.7  110.0
2    0.349  0.602  31.6   5.0  5.2  1.8  2.0  1.6  122.1  111.0
3    0.363  0.588  30.5   5.2  6.1  1.0  0.5  3.2  112.4  112.0
4    0.461  0.631  30.0  13.5  9.5  1.1  1.0  3.5  127.1  104.5
..     ...    ...   ...   ...  ...  ...  ...  ...    ...    ...
212  0.000  0.000   0.0   0.0  1.0  0.0  0.0  0.0    NaN    NaN
213  0.000  0.000   0.0   2.0  1.0  0.3  0.0  1.7   46.2   76.1
214  0.000    NaN   0.0   0.0  1.0  0.0  0.0  0.0    NaN  125.1
215  0.000  0.000   0.0   1.0  0.0  0.0  0.0  1.0    0.0   94.9
216  0.000    NaN   0.0   0.0  0.0  0.0  0.0  0.0    NaN    NaN

[217 rows x 22 columns]

In [288]:
data.columns

Index(['NAME', 'TEAM', 'POS', 'AGE', 'GP', 'MPG', 'USG%', 'FTA', 'FT%', '2PA',
       '2P%', '3PA', '3P%', 'TS%', 'PPG', 'RPG', 'APG', 'SPG', 'BPG', 'TPG',
       'ORtg', 'DRtg'],
      dtype='object')

In [289]:
data['Season'] = "2022-23"
print(data)

                NAME TEAM  POS   AGE  GP   MPG  USG%  FTA    FT%  2PA  ...  \
0      Kawhi Leonard  Lac    F  32.0   2  40.2  30.0   17  0.882   34  ...
1       Devin Booker  Pho    G  26.6  11  41.7  29.0   67  0.866  180  ...
2    Anthony Edwards  Min    G  21.9   5  39.7  32.4   39  0.846   71  ...
3      Stephen Curry  Gol    G  35.2  13  37.9  31.6   58  0.845  154  ...
4       Nikola Jokic  Den    C  28.3  20  39.4  31.2  139  0.799  338  ...
..               ...  ...  ...   ...  ..   ...   ...  ...    ...  ...  ...
212     Derrick Rose  Nyk    G  34.7   1   2.5  71.4    0  0.000    3  ...
213      Ricky Rubio  Cle    G  32.6   3   5.7  16.6    0  0.000    1  ...
214    Edmond Sumner  Bro    G  27.5   1   4.5   0.0    0  0.000    0  ...
215   Dewayne Dedmon  Phi    C  33.8   1   5.0  18.5    0  0.000    0  ...
216  DaQuan Jeffries  Nyk  G-F  25.8   2   2.3   0.0    0  0.000    0  ...

       TS%   PPG   RPG  APG  SPG  BPG  TPG   ORtg   DRtg   Season
0    0.670  34.5   6.5  6.0  2.0  0.5  3.0  129.4  110.8  2022-23
1    0.686  33.7   4.8  7.2  1.7  0.8  2.9  130.7  110.0  2022-23
2    0.602  31.6   5.0  5.2  1.8  2.0  1.6  122.1  111.0  2022-23
3    0.588  30.5   5.2  6.1  1.0  0.5  3.2  112.4  112.0  2022-23
4    0.631  30.0  13.5  9.5  1.1  1.0  3.5  127.1  104.5  2022-23
..     ...   ...   ...  ...  ...  ...  ...    ...    ...      ...
212  0.000   0.0   0.0  1.0  0.0  0.0  0.0    NaN    NaN  2022-23
213  0.000   0.0   2.0  1.0  0.3  0.0  1.7   46.2   76.1  2022-23
214    NaN   0.0   0.0  1.0  0.0  0.0  0.0    NaN  125.1  2022-23
215  0.000   0.0   1.0  0.0  0.0  0.0  1.0    0.0   94.9  2022-23
216    NaN   0.0   0.0  0.0  0.0  0.0  0.0    NaN    NaN  2022-23

[217 rows x 23 columns]

In [290]:
data_types=data.dtypes
print(data_types)

NAME       object
TEAM       object
POS        object
AGE       float64
GP          int64
MPG       float64
USG%      float64
FTA         int64
FT%       float64
2PA         int64
2P%       float64
3PA         int64
3P%       float64
TS%       float64
PPG       float64
RPG       float64
APG       float64
SPG       float64
BPG       float64
TPG       float64
ORtg      float64
DRtg      float64
Season     object
dtype: object

In [293]:
data.isna().sum()

NAME      0
TEAM      0
POS       0
AGE       0
GP        0
MPG       0
USG%      0
FTA       0
FT%       0
2PA       0
2P%       0
3PA       0
3P%       0
TS%       0
PPG       0
RPG       0
APG       0
SPG       0
BPG       0
TPG       0
ORtg      0
DRtg      0
Season    0
dtype: int64

In [292]:
data.fillna(0,inplace=True)

In [294]:
print(data)

                NAME TEAM  POS   AGE  GP   MPG  USG%  FTA    FT%  2PA  ...  \
0      Kawhi Leonard  Lac    F  32.0   2  40.2  30.0   17  0.882   34  ...
1       Devin Booker  Pho    G  26.6  11  41.7  29.0   67  0.866  180  ...
2    Anthony Edwards  Min    G  21.9   5  39.7  32.4   39  0.846   71  ...
3      Stephen Curry  Gol    G  35.2  13  37.9  31.6   58  0.845  154  ...
4       Nikola Jokic  Den    C  28.3  20  39.4  31.2  139  0.799  338  ...
..               ...  ...  ...   ...  ..   ...   ...  ...    ...  ...  ...
212     Derrick Rose  Nyk    G  34.7   1   2.5  71.4    0  0.000    3  ...
213      Ricky Rubio  Cle    G  32.6   3   5.7  16.6    0  0.000    1  ...
214    Edmond Sumner  Bro    G  27.5   1   4.5   0.0    0  0.000    0  ...
215   Dewayne Dedmon  Phi    C  33.8   1   5.0  18.5    0  0.000    0  ...
216  DaQuan Jeffries  Nyk  G-F  25.8   2   2.3   0.0    0  0.000    0  ...

       TS%   PPG   RPG  APG  SPG  BPG  TPG   ORtg   DRtg   Season
0    0.670  34.5   6.5  6.0  2.0  0.5  3.0  129.4  110.8  2022-23
1    0.686  33.7   4.8  7.2  1.7  0.8  2.9  130.7  110.0  2022-23
2    0.602  31.6   5.0  5.2  1.8  2.0  1.6  122.1  111.0  2022-23
3    0.588  30.5   5.2  6.1  1.0  0.5  3.2  112.4  112.0  2022-23
4    0.631  30.0  13.5  9.5  1.1  1.0  3.5  127.1  104.5  2022-23
..     ...   ...   ...  ...  ...  ...  ...    ...    ...      ...
212  0.000   0.0   0.0  1.0  0.0  0.0  0.0    0.0    0.0  2022-23
213  0.000   0.0   2.0  1.0  0.3  0.0  1.7   46.2   76.1  2022-23
214  0.000   0.0   0.0  1.0  0.0  0.0  0.0    0.0  125.1  2022-23
215  0.000   0.0   1.0  0.0  0.0  0.0  1.0    0.0   94.9  2022-23
216  0.000   0.0   0.0  0.0  0.0  0.0  0.0    0.0    0.0  2022-23

[217 rows x 23 columns]

In [295]:
path = '/Users/paterosthodoris/Desktop/STAT/SPRING_2024/STAT_6289/Final_Project/DATA/PLAYER_PLAYOFF2223.csv'
data.to_csv(path, index=True)

In [210]:
print(data2324.columns)

Index(['NAME', 'TEAM', 'POS', 'AGE', 'GP', 'MPG', 'FTA', 'FT%', '2PA', '2P%',
       '3PA', '3P%', 'eFG%', 'TS%', 'PPG', 'RPG', 'APG', 'SPG', 'BPG', 'TPG',
       'ORtg', 'DRtg', 'Key', 'Season'],
      dtype='object')

In [211]:
columns_drop=['eFG%']
data2324.drop(columns_drop,axis=1,inplace=True)
print(data2324)

                        NAME TEAM POS   AGE  GP   MPG  FTA    FT%   2PA  \
0                Joel Embiid  Phi   C  30.1  39  33.6  452  0.883   712
1                Luka Doncic  Dal   G  25.1  70  37.5  608  0.786   908
2      Giannis Antetokounmpo  Mil   F  29.4  73  35.2  782  0.657  1246
3    Shai Gilgeous-Alexander  Okc   G  25.8  75  34.0  649  0.874  1218
4              Jalen Brunson  Nyk   G  27.6  77  35.4  497  0.847  1122
..                       ...  ...  ..   ...  ..   ...  ...    ...   ...
652           Justin Jackson  Min   F  29.1   2   0.4    0  0.000     0
653           Jalen Crutcher  Nor   G  24.7   1   2.7    0  0.000     1
654              Andrew Funk  Chi   G  24.6   5   2.7    0  0.000     1
655            Jacob Gilyard  Bro   G  25.8   4  11.2    0  0.000     0
656           Mamadi Diakite  Nyk   F  27.2   3   2.8    0  0.000     0

       2P%  ...   PPG   RPG  APG  SPG  BPG  TPG   ORtg   DRtg  Key   Season
0    0.556  ...  34.7  11.0  5.6  1.2  1.7  3.8  124.0  104.8    0  2023-24
1    0.573  ...  33.9   9.2  9.8  1.4  0.5  4.0  121.9  109.9    1  2023-24
2    0.644  ...  30.4  11.5  6.5  1.2  1.1  3.4  125.6  106.9    2  2023-24
3    0.576  ...  30.1   5.5  6.2  2.0  0.9  2.2  128.6  107.7    3  2023-24
4    0.516  ...  28.7   3.6  6.7  0.9  0.2  2.4  124.2  112.6    4  2023-24
..     ...  ...   ...   ...  ...  ...  ...  ...    ...    ...  ...      ...
652  0.000  ...   0.0   0.0  0.0  0.0  0.0  0.0    0.0    0.0  652  2023-24
653  0.000  ...   0.0   0.0  0.0  0.0  0.0  0.0    0.0    0.0  653  2023-24
654  0.000  ...   0.0   0.0  0.0  0.2  0.2  0.0    0.0    0.0  654  2023-24
655  0.000  ...   0.0   0.8  1.5  1.5  0.0  0.3   57.7  106.2  655  2023-24
656  0.000  ...   0.0   0.3  0.0  0.3  0.0  0.3    0.0    0.0  656  2023-24

[657 rows x 23 columns]

In [216]:
data=data2324[['Key','NAME','TEAM','POS','GP','MPG','PPG','RPG','APG','SPG','BPG','TPG','Season']]
print(data)

     Key                     NAME TEAM POS  GP   MPG   PPG   RPG  APG  SPG  \
0      0              Joel Embiid  Phi   C  39  33.6  34.7  11.0  5.6  1.2
1      1              Luka Doncic  Dal   G  70  37.5  33.9   9.2  9.8  1.4
2      2    Giannis Antetokounmpo  Mil   F  73  35.2  30.4  11.5  6.5  1.2
3      3  Shai Gilgeous-Alexander  Okc   G  75  34.0  30.1   5.5  6.2  2.0
4      4            Jalen Brunson  Nyk   G  77  35.4  28.7   3.6  6.7  0.9
..   ...                      ...  ...  ..  ..   ...   ...   ...  ...  ...
652  652           Justin Jackson  Min   F   2   0.4   0.0   0.0  0.0  0.0
653  653           Jalen Crutcher  Nor   G   1   2.7   0.0   0.0  0.0  0.0
654  654              Andrew Funk  Chi   G   5   2.7   0.0   0.0  0.0  0.2
655  655            Jacob Gilyard  Bro   G   4  11.2   0.0   0.8  1.5  1.5
656  656           Mamadi Diakite  Nyk   F   3   2.8   0.0   0.3  0.0  0.3

     BPG  TPG   Season
0    1.7  3.8  2023-24
1    0.5  4.0  2023-24
2    1.1  3.4  2023-24
3    0.9  2.2  2023-24
4    0.2  2.4  2023-24
..   ...  ...      ...
652  0.0  0.0  2023-24
653  0.0  0.0  2023-24
654  0.2  0.0  2023-24
655  0.0  0.3  2023-24
656  0.0  0.3  2023-24

[657 rows x 13 columns]

In [217]:
path = '/Users/paterosthodoris/Desktop/STAT/SPRING_2024/STAT_6289/Final_Project/DATA/test.csv'
data.to_csv(path, index=True)

In [244]:
data.columns

Index(['NAME', 'TEAM', 'POS', 'AGE', 'GP', 'MPG', 'USG%', 'FTA', 'FT%', '2PA',
       '2P%', '3PA', '3P%', 'TS%', 'PPG', 'RPG', 'APG', 'SPG', 'BPG', 'TPG',
       'ORtg', 'DRtg', 'Season'],
      dtype='object')

In [245]:
data['USG%'].value_counts()

USG%
0.0     5
13.5    3
13.2    2
18.2    2
31.9    2
       ..
18.7    1
14.5    1
32.3    1
13.4    1
8.6     1
Name: count, Length: 65, dtype: int64

In [228]:
path = '/Users/paterosthodoris/Desktop/STAT/SPRING_2024/STAT_6289/Final_Project/DATA/stats2324.csv'
data2324.to_csv(path, index=True)

In [302]:
import pandas as pd
data= pd.read_csv('Nba_Player_Stats.csv')
print(data)

        Rk               Player Pos  Age   Tm   G  GS    MP   FG   FGA  ...  \
0        1   Mahmoud Abdul-Rauf  PG   28  SAC  31   0  17.1  3.3   8.8  ...
1        2    Tariq Abdul-Wahad  SG   23  SAC  59  16  16.3  2.4   6.1  ...
2        3  Shareef Abdur-Rahim  SF   21  VAN  82  82  36.0  8.0  16.4  ...
3        4       Cory Alexander  PG   24  TOT  60  22  21.6  2.9   6.7  ...
4        4       Cory Alexander  PG   24  SAS  37   3  13.5  1.6   3.9  ...
...    ...                  ...  ..  ...  ...  ..  ..   ...  ...   ...  ...
14568  601       Thaddeus Young  PF   33  TOR  26   0  18.3  2.6   5.5  ...
14569  602           Trae Young  PG   23  ATL  76  76  34.9  9.4  20.3  ...
14570  603       Omer Yurtseven   C   23  MIA  56  12  12.6  2.3   4.4  ...
14571  604          Cody Zeller   C   29  POR  27   0  13.1  1.9   3.3  ...
14572  605          Ivica Zubac   C   24  LAC  76  76  24.4  4.1   6.5  ...

       ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS       Year
0      0.2  1.0  1.2  1.9  0.5  0.0  0.6  1.0   7.3  1997-1998
1      0.7  1.2  2.0  0.9  0.6  0.2  1.1  1.4   6.4  1997-1998
2      2.8  4.3  7.1  2.6  1.1  0.9  3.1  2.5  22.3  1997-1998
3      0.3  2.2  2.4  3.5  1.2  0.2  1.9  1.6   8.1  1997-1998
4      0.2  1.1  1.3  1.9  0.7  0.1  1.3  1.4   4.5  1997-1998
...    ...  ...  ...  ...  ...  ...  ...  ...   ...        ...
14568  1.5  2.9  4.4  1.7  1.2  0.4  0.8  1.7   6.3  2021-2022
14569  0.7  3.1  3.7  9.7  0.9  0.1  4.0  1.7  28.4  2021-2022
14570  1.5  3.7  5.3  0.9  0.3  0.4  0.7  1.5   5.3  2021-2022
14571  1.9  2.8  4.6  0.8  0.3  0.2  0.7  2.1   5.2  2021-2022
14572  2.9  5.6  8.5  1.6  0.5  1.0  1.5  2.7  10.3  2021-2022

[14573 rows x 31 columns]